/* ----- Defaults ----- */
html, body {
  scroll-behavior: smooth;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 5vw);
  grid-gap: 15px;
}

.gallery_img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.carousel {
  width:640px;
  height:360px;
  margin: auto
}

.upsilon_photo {
  padding-top: 10px;
  padding-left: 350px;
}