/* ----- Defaults ----- */
html, body {
  scroll-behavior: smooth;
}

.redgreen {
  color: green;
  background-color: red;
}

.indented{
  padding-left: 100px;
}

#footer{
  background-color: yellow;
}